{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig' %}

<div class="ui tab" data-tab="badges">
    <h3 class="ui top attached header">{{ 'oxyshop_sylius_badge_plugin.ui.product_badges'|trans }}</h3>

    <div class="ui attached segment">
        {# {{ form_row(form.badges) }} #}
        elo...
    </div>
</div>
